.chat-info-msg-container{
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.chat-info-msg{
    margin: 5px 0;
    padding: 0 9px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #232326;
    border-radius: 9px;
}

.chat-info-msg-text{
    font-size: 12px;
    font-family: 'RR';
    color: var(--green);
}