.chat-info-msg-container{
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.chat-info-msg{
    margin: 5px 0;
    padding: 0 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--searchBoxBg);
    border-radius: 5px;
}

.chat-info-msg-text{
    font-size: 1rem;
    font-family: 'RR';
}