.mv-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--chatBoxBg);
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    z-index: 2;
}

.mv-header{
    height: 70px;
    width: 100%;
    padding: 1rem 8px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.mv-sender-info{
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--fontColor);
    gap: 8px;
}

.mv-sender-info .img-container{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.mv-sender-info .img-container img {
    height: 50px;
}

.mv-send-info{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.mv-send-info h1{
    font-size: 1.2rem;
}

.mv-send-info p{
    font-size: 0.8rem;
}

.mv-close-btn-container{
    height: 70px;
    display: flex;
}

.mv-close-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    width: 40px;
    border-radius: 25px;
    display: grid;
    place-items: center;
}

.mv-close-img{
    height: 30px;
}

.mv-main-media-container{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mv-main-media{
    max-height: 600px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.mv-preview-container{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.mv-preview{
    height: 70px;
    width: 70px;
    object-fit: cover;
}