.ncbs-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    gap: 10px;
    border-radius: 5px;
    padding: 0px 5px;
    box-sizing: border-box;
    justify-content: space-between;
}

.ncbs-img-heading-container{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.ncbs-container:hover{
    background-color: var(--hover);
}

.ncbs-img-container{
    height: 40px;
    width: 40px;
    border: 1px solid var(--green);
    border-radius: 25px;
    overflow: hidden;
}

.ncbs-img{
    height: 40px;
}

.ncbs-heading-container{
    display: flex;
    flex-direction: column;
}

.ncbs-heading{
    margin: 0;
    color: var(--fontColor);
    font-size: 0.8rem;
}

.ncbs-sub-heading{
    margin: 0;
    color: var(--small);
    font-size: 0.75rem;
}

.ncbs-live-count-container{
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--fontColor);
}

.ncbs-live-count-container img{
    height: 20px;
}