.nub-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    gap: 10px;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
} 

.nub-container:hover{
    background-color: var(--hover);
}

.nub-name-img-container{
    display: flex;
    align-items: center;
    gap: 13px;
}

.nub-img-container{
    height: 55px;
    width: 55px;
    border-radius: 100px;
    overflow: hidden;
}

.nub-img{
    height: 55px;
}

.nub-name-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nub-username{
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin: 0;
    color: var(--fontColor);
}

.nub-name{
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    margin: 0;
    color: var(--small);
}

.nub-btn{
    font-family: 'GB';
    height: 30px;
    width: 113px;
    border-radius: 30px;
    border: none;
    color: var(--black);
    background-color: var(--green);
    font-size: 0.9rem;
}

.cancel{
    background-color: var(--fontColor);
}

.got-request-btn{
    background-color: inherit;
}

.request-btns{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.request-btns button{
  background-color: var(--black);
  border: 1px solid var(--green);
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  padding: 5px;
  border-radius: 40px;
}

.request-btn-img{
  height: 10px;
}

.nub-container button {
    cursor: pointer;
}

button.nub-btn{
    transition: 0.3s all ease;
}

button.nub-btn:hover {
    border-radius: 4px;
}

