.notification-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    gap: 10px;
    border-radius: 5px;
    padding: 0px 5px;
    box-sizing: border-box;
}

.notification-container:hover{
    background-color: var(--hover);
}

.notification-img{
    width: 50px;
    border: 1px solid var(--green);
    border-radius: 25px;
    overflow: hidden;
}

.notification-msg{
    font-size: 1rem;
    color: var(--fontColor);
    font-family: 'GR';
}