.np-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 410px;
    height: 100dvh;
    background-color: var(--black);
    transform-origin: left;
    transform: translateX(100%);
    z-index: 1;
    animation: myMove 0.3s ease forwards;
    box-sizing: border-box;
    padding: 10px 10px;
    border-left: 1px solid var(--small);
    border-right: 1px solid var(--small);
}

.np-container h1{
    font-size: 1rem;
    color: var(--fontColor);
}

.notifications-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

.no-notifications{
    font-size: 1rem;
    color: var(--small);
    font-weight: bold;
}

@keyframes myMove {
    from {
        right: 490px;
    }
    to {
        right: 0px;
    }
}