.post-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    background-color: var(--black);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--borderColor);
    box-sizing: border-box;
    height: fit-content;
    width: 500px;
    margin: 1rem 10rem;
}

.post-heading-container{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px 10px;
}

.post-chat-img-container{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--green);
}

.post-chat-img{
    height: 30px;
}

.post-names-container{
    display: flex;
    flex-direction: column;
}

.chat-name{
    font-family: 'GB';
    font-size: 1.2rem;
    color: var(--fontColor);
}

.post-username{
    color: var(--small);
    margin: 0;
    font-size: 0.8rem;
}

.post-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.post-media{
    width: 100%;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}  

.media-controls-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.post-container:hover .media-controls-container{
    opacity: 1;
}

.media-images-num-container{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.media-images-num{
    width: 30px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

.controls{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.control{
    pointer-events: auto;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

.control img{
    height: 30px;   
}

.post-btn-container{
    display: flex;
    width: 100%;
}

.post-btn{
    flex: 1;
    background-color: inherit;
    border: none;
    font-family: 'GM';
    height: 40px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fontColor);
}

.post-btn:hover{
    background-color: var(--hover);
}
