.forgot-password-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
}

.initial-state-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--borderColor);
    border-radius: 6px;
    background-color: var(--black);
    height: 250px;
    min-width: 350px;
    color: var(--fontColor);
    padding: 1rem;
}

.initial-state-container input {
    background-color: var(--chatBoxBg);
    border: 1px solid var(--borderColor);
    width: 100%;
    color: var(--fontColor);
    padding: 4px;
    font-size: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
}

.initial-state-container button {
    height: 30px;
    font-family: 'GR';
    background-color: var(--green);
    color: var(--black);
    border: none;
    border-radius: 4px;
}

.user-found-state-container {
    border: 1px solid var(--small);
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 49px;
    justify-content: center;
    width: 350px;
    gap: 10px;
}

.change-password-state-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.8rem;
    border: 1px solid var(--borderColor);
    min-width: 350px;
    gap: 10px;
    border-radius: 6px;
    background-color: var(--black);
    height: 250px;
    color: var(--fontColor);
}

.change-password-state-container input{
    flex: 1 1 auto;
    background-color: var(--chatBoxBg);
    border: 1px solid var(--borderColor);
    font-size: 0.9rem;
    color: var(--fontColor);
    border-radius: 8px;
    height: 30px;
    padding: 0 4px;
}

.change-password-state-container button{
    font-size: 0.9rem;
    color: var(--black);
    background-color: var(--green);
    border: none;
    padding: 2px 4px;
    transition: 0.2s ease;
    border-radius: 8px;
    height: 30px;
    width: 80px;
}

.change-password-state-container button:hover{
    background-color: var(--black);
    color: var(--green);
    border: 1px solid var(--green);
}