.lp-container{
    background-color: var(--black);
    animation: fadeInAnimation ease 3s;
}

.lp-welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100dvh;
    width: 100%;
}

.lp-welcome-container img{
    height: 100px;
    width: 100px;
}

.lp-welcome-container h1{
    font-size: 4rem;
    color: var(--fontColor);
}

.lp-welcome-container h1 span{
    font-family: 'Emoji';
    animation: wave-animation 5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.lp-welcome-container button{
    font-family: 'GB';
    background-color: var(--green);
    height: 50px;
    width: 120px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

.lp-welcome-container p{
    font-size: 2rem;
    color: var(--small);
}

.lp-welcome-container p span{
    color: var(--green);
}

.lp-faq-section-container{
    height: 100dvh;
    width: 100%;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--fontColor);
    justify-content: center;
}

.lp-faq-section-container h1{
    font-size: 2rem;
    color: var(--green);
}

.lp-faq-container{
    height: fit-content;
    width: auto;
    background-color: var(--searchBoxBg);
    border: 1px solid var(--small);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.faq-inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid var(--small);
}

.faq-question-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.dropdown-btn{
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: grid;
    place-items: center;
}

.dropdown-btn:hover{
    background-color: var(--hover);
}

.dropdown-btn img{
    height: 25px;
}

.answer-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.answer-wrapper.open {
    max-height: 200px;
    margin-bottom: 10px;
}

.rotate-animation{
    /*animation: rotateAnimation 1s ease;*/
    transform: rotate(180deg);
    transition: 1s ease;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes wave-animation {
  0% { transform: rotate(0.0deg) }
  15% { transform: rotate(14.0deg) }
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate(0.0deg) } /* Pause at the end of the wave */
  100% { transform: rotate(0.0deg) }
}

@keyframes rotateAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes answerAnimation{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}