.profile-photo-step {
  flex-direction: column;
  gap: 1rem;
  height: 100dvh;
  display: flex;
  padding: 25px 25px;
  box-sizing: border-box;
}

.close-btn-container{
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 0 10px;
  box-sizing: border-box;
}

.close-btn-container button{
  background: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.close-btn-container button img{
  height: 45px;
  width: 45px;
}

.profile-photo-step-body{
  flex-direction: column;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.dropzone {
  border: 2px dashed var(--green);
  border-radius: 12px;
  cursor: pointer;
  padding: 2rem;
  text-align: center;
  transition: border-color .3s ease;
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
  color: var(--fontColor);
}

.dropzone:hover {
  border-color: var(--hover);
}

.preview-container {
  margin-top: 1rem;
}

.preview-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-photo-step-note{
  font-size: 0.8rem;
  color: var(--small);
}

.upload-btn {
  background: var(--green);
  color: var(--black);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.upload-btn:hover {
  background: var(--hover);
  color: var(--fontColor);
}
