.profile-photo-step {
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone {
  border: 2px dashed var(--green);
  border-radius: 12px;
  cursor: pointer;
  padding: 2rem;
  text-align: center;
  transition: border-color .3s ease;
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
  color: var(--fontColor);
}

.dropzone:hover {
  border-color: var(--hover);
}

.preview-container {
  margin-top: 1rem;
}

.preview-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-btn {
  background: var(--green);
  color: var(--black);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.upload-btn:hover {
  background: var(--hover);
  color: var(--fontColor);
}
