.profile-container{
    display: flex;
}

.profile-body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.profile-heading-container{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background-color: var(--hover);
    width: 100%;
    border-bottom: 1px solid var(--small);
    box-sizing: border-box;
}

.profile-heading{
    font-size: 1.5rem;
    font-family: 'GB';
    color: var(--fontColor);
}

.profile-info-section{
    padding: 20px 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-info-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.profile-info-heading{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-username{
    color: var(--fontColor);
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

.profile-img-container{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green);
    position: relative;
}

.photo-change-btn{
    position: absolute;
    bottom: -5px;
    right: -5px;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: var(--hover);
    display: grid;
    place-items: center;
    transition: 0.2s ease-in-out;
}

.photo-change-btn:hover{
    background-color: #34343a;
}

.photo-change-img{
    width: 20px;
}

.profile-img{
    height: 100px;
    border-radius: 50px;
}

.profile-logout-btn{
    border: 1px solid var(--green);
    font-size: 1rem;
    font-family: 'GM';
    border-radius: 5px;
    background-color: var(--black);
    color: var(--fontColor);
    height: 50px;
    width: 80px;
    transition: 0.2s;
}

.profile-logout-btn:hover{
    background-color: var(--green);
    color: var(--black);
}

.profile-action-btn{
    font-family: 'GSM';
    height: 30px;
    border-radius: 5px;
    border: none;
    color: var(--black);
    background-color: var(--green);
}

.profile-request-actions{
    background-color: inherit;
    display: flex;
    gap: 10px;
}

.accept-btn, .reject-btn{
    background-color: var(--black);
    border: 1px solid var(--green);
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 40px;
}

.accept-btn img, .reject-btn img{
    height: 14px;
}

.profile-nav-container{
    width: 100%;
    flex: 1;
    box-sizing: border-box;
}

.profile-nav-header{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-top: 1px solid var(--small);
    border-bottom: 1px solid var(--small);
    background-color: var(--searchBoxBg);
    box-sizing: border-box;
}

.profile-nav-btn{
    margin-right: 10px;
    font-family: 'GB';
    letter-spacing: 0.05rem;
    font-size: 1.3rem;
    height: 100%;
    background-color: inherit;
    border: none;
    color: var(--fontColor);
}

.profile-nav-btn:hover{
    color: var(--small);
}

.profile-nav-body{
    width: 100%;
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.profile-chats-container{
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-chats-heading{
    margin: 0;
    color: var(--fontColor);
    font-size: 1.2rem;
}

.no-cohort-boxes{
    color: var(--small);
    margin: 5px 0;
}

.profile-friends-container{
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-friends-heading{
    margin: 0;
    color: var(--fontColor);
    font-size: 20px;
}

.no-friends{
    color: var(--small);
    margin: 5px 0;
}