.settings{
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.settings-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100dvh;
}

.settings-heading-container{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background-color: var(--hover);
    width: 100%;
    border-bottom: 1px solid var(--small);
    box-sizing: border-box;
}

.settings-heading-container h1{
    font-size: 2rem;
    font-family: 'GB';
    color: var(--fontColor);
}

.settings-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--balck);
    flex-grow: 1;
}

.settings-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 400px;
    height: 300px;
    padding: 0.8rem 1rem;
    border: 1px solid var(--borderColor);
    background-color: var(--chatBoxBg);
    border-radius: 8px;
}

.settings-body h1{
    font-size: 1rem;
    color: var(--fontColor);
}

.about{
    align-items: flex-start;
}

.info-edit-btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-edit-btn-container .dp-container{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.info-edit-btn-container .dp-container img{
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
}

.info-edit-btn-container .info-container{
    display: flex;
    gap: 6px;
    align-items: center;
}

.info-edit-btn-container .info-container h1, .info-edit-btn-container .info-container p{
    font-size: 0.9rem;
    color: var(--fontColor);
}

.info-edit-btn-container .info-container p{
    color: var(--small);
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-edit-btn-container button {
    padding: 4px;
    background-color: var(--borderColor);
    border: none;
    color: var(--fontColor);
    font-size: 0.7rem;
    transition: 0.2s ease;
    border-radius: 4px;
    max-height: 20px;
}

.info-edit-btn-container button:hover {
    background-color: var(--hover);
}

.info-edit-btn-container .delete-acc-btn{
    background-color: red;
    color: #fff;
    font-size: 0.9rem;
    padding: 6px;
    border: none;
    border-radius: 4px;
    display: grid;
    place-content: center;
}